* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
}

.btn-group {
  margin-top: 50px;
  margin-left: 50px;

  .btn {
    margin-right: 20px;
  }
}

.btn {
  // border: 1px solid #333;
  border: none;
  border-radius: 2px;
  padding: 0 30px;
  height: 32px;
  line-height: 32px;
  background: #333;
  color: #fff;
  outline: none;
}

@import '../Components/Popover/_popover';
// @import './Modal01/Animation';
// @import './Modal01/Modal';
@import './Modal02/Modal';
