@import '~antd/dist/antd.css';


@import 'Components/Notification/_notification';
@import 'Components/Pagination/_pagination';

body {
  margin: 0px;
}

@import '../public/sass/layout/_navigator';


// for react-router-transition
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
